@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

:root {
    --color-primary: rgb(236, 91, 83);
    --color-title: #002D5B;
    --color-subtitle: #35373a;
    --color-background: #fefafa;
    --color-background-secondary: #cac8c8;
    --color-arrow: #818a91;
    --font-title: 'Playfair Display', serif;
    --font-texts: 'Open Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-texts);
}

.header-container {
    background: #fefafa;
}

.header-wrapper {
    display: flex;
    width: 100%;
    height: 100px;
    overflow: hidden;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    align-items: center;
}

.btn {
    background-color: var(--color-primary);
    border-radius: 5px;
    border: 5px solid var(--color-primary);
    cursor: pointer;
    width: auto;
    font-size: 15px;
    line-height: 1;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
}

.btn.lg {
    padding: 15px 30px;
}

.menu-button-container {
    all: unset;
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.menu-button-container:focus {
    border: 1px solid var(--color-primary);
}

.menu-button {
    all: unset;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--color-primary);
    position: absolute;
    height: 4px;
    width: 100%;
    transition: transform .3s;
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    top: -8px;
}

.menu-button::after {
    content: '';
    top: 8px;
}

.menu-button-contact {
    display: none;
}

.menu-button-container.clicked .menu-button::before {
    top: 0;
    transform: rotate(45deg);
}

.menu-button-container.clicked .menu-button {
    background: rgba(255, 255, 255, 0);
}

.menu-button-container.clicked .menu-button::after {
    top: 0;
    transform: rotate(-45deg);
}

.menu-button-container.clicked + .menu-navigation {
    display: flex;
}

.menu-navigation {
    position: absolute;
    width: 100%;
    background: var(--color-background);
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 100px;
}

.menu-navigation a {
    width: 100%;
    text-align: left;
    padding: 10px;
    text-decoration: none;
    color: var(--font-texts);
    transition: all .3s;
}

.menu-navigation a:hover {
    color: var(--color-primary)
}

.logo-wrapper {
    width: 50px;
}

.logo-wrapper__img {
    width: 100%;
    padding: 10px;
}


.banner {
    background-color: var(--color-background);
    display: flex;
    width: 100%;
}

.banner-social-media {
    display: none;
}

.banner-wrapper {
    display: flex;
    flex-direction: column;
}

.banner-description {
    display: grid;
    grid-template-columns: 2fr;
    align-self: center;
    text-align: center;
}

.banner-title {
    color: var(--color-title);
    font-size: 30px;
    font-family: var(--font-title);
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.3em;
}

.banner-subtitle {
    line-height: 26px;
    margin: 0 35px;
    color: var(--color-subtitle);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}


.banner-button {
    margin: 0 auto;
    margin-top: 35px;

}

.banner-image {
    width: 100%;
}

.about-me {
    width: 100%;
}

.about-me__description {
    margin-top: 60px;
    text-align: center;
}

.page-title {
    color: var(--color-title);
    margin-bottom: 20px;
    font-family: var(--font-title);
    font-size: 20px;
    line-height: 1;
}


.about-me__subtitle {
    color: var(--color-subtitle);
    margin: 0 22px;
    margin-bottom: 20px;
}


.about-me__container {
    padding: 0 20px;
}

.about-me-cards__wrapper {
    display: flex;
    flex-direction: column;
    margin: 15 10px;

}


.about-me-cards__title {
    color: var(--color-title);
    line-height: 1.3em;
    font-size: 27px;
    font-family: var(--font-title);
    margin-bottom: 20px;
}

.about-me-cards__text {
    color: var(--color-subtitle);
    line-height: 1.9;
    margin-bottom: 20px;
}

.about-me-cards__button {
    max-width: 150px;
    margin-bottom: 20px;
}

.about-me-cards__image {
    border-radius: 10px;
}

.cards {
    width: 100%;
    background-color: var(--color-background);
}

.page-description {
    padding-top: 20px;
    text-align: center;
}

.page-title {
    font-size: 20px;
    font-family: var(--font-title);
    color: var(--color-title);
    margin: 20px 0;
}

.page-subtitle {
    font-size: 16px;
    font-family: var(--font-texts);
    color: var(--color-subtitle);
    margin: 0 22px 20px 22px;
}

.page-card__wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}

.page-card {
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 45px 0px;
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 400px;
}


.page-card__image--wrapper {
    width: 100%;
    margin: 30px 0 20px 0;
}

.page-card__image {
    width: 22%;
}

.page-card__title {
    font-size: 20px;
    font-family: var(--font-title);
    color: var(--color-title);
    margin-bottom: 20px;
}

.page-card__subtitle {

    font-size: 16px;
    font-family: var(--font-texts);
    color: var(--color-subtitle);
    margin-bottom: 48px;
    line-height: 1.9;
}


.services-card__button {
    color: var(--color-arrow) ;
    text-decoration: none;
    margin-bottom: 30px;
}

.clients {
    width: 100%;
}

.clients-description {
    text-align: center;
}

.clients-card__image {
    width:21% ;
    border-style: solid;
    border-color: var(--color-primary);
    border-radius: 50px;
}

.email {
    margin: 60px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.email-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.email-label {
    display: none;
}

.email-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.email-input {
    margin: auto;
    width: 65%;
    padding: 0.75em;
    height: auto;
    color: #666;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: #eaeaea;
    background: #fafafa;
    box-shadow: none;
    font-size: 17px;
    font-family: var(--font-texts);
}

.email-button {
    border: none;
    padding:15px 30px;
    font-size: 15px;
}


@media screen and (min-width: 1024px) {

    .header-wrapper {
        max-width: 1140px;
        margin: 0 auto;
    }

    .menu-button-container {
        display: none;
    }

    .menu-navigation {
        position: relative;
        display: flex;
        flex-direction: row;
        width: auto;
        top: 0;
        background-color: initial;
    }

    .menu-navigation a {
        background-color: initial;
    }

    .menu-button-contact {
        display: block;
    }

    .banner {
        margin: auto;
    }

    .banner-wrapper {
        margin: auto;
        max-width: 1140px;
        flex-direction: row;
    }

    .banner-social-media {
        display: flex;
        align-items: center;
    }

    .banner-description {
        text-align: start;
    }

    .banner-title {
        margin: 0 35px;
        font-size: 65px;
    }

    .banner-subtitle {
        font-size: 17px;
    }

    .banner-button {
        margin: 0 35px;
        width: fit-content;
    }


    .about-me {
        max-width: 1140px;
        margin: 0 auto;
    }

    .page-title {
        font-size: 38px;
    }

    .about-me__container {
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 0 45px 0 0;

    }

    .about-me-cards__wrapper {
        max-width: 33.33%;
    }

    .about-me-cards__wrapper.center {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .cards {
        padding: 100px 0;
        min-height: 50vh;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .page-card__wrapper {
        padding: 35px;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .page-card {
        width:  22%;
    }

    .services-card__title{
        font-size: 22px;
    }

    .page-card__subtitle {
        margin: 0 25px 48px 25px;
    }

    .email-description {
        width:40%;
        margin-bottom: 40px;
    }

    .email-wrapper {
        width: 55%;
    }

    .email-button {
        font-size: 17px;
    }
}

/* 
TODO:
-carousel
-footer
-banner icons
*/